article.text h2 a {
color: #A51B2F;
font-weight: 100;
}

article.text p {
font-size: 18px;
font-weight: 200;
}

article.footer a{
font-weight: 200;
font-family: "omnes-pro", sans-serif;
}

aside nav.pages li {
text-transform: uppercase;
display: inline-block;
float: left;
width: 50%;
padding-bottom: 1px;
margin-bottom: 1px;
}

#mc_embed_signup form {
padding: 10px 0 10px 30px !important;
}

#mc_embed_signup input.email {
width: 85% !important;
}

#mc_embed_signup input.button {
width: 86% !important;
background-color: #A51B2F !important;
}